// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

//Import navbar
@import "navbar";

$blue: #59a5d8;
$light-blue: lighten($blue, 5%);
$dark-blue: darken($blue, 15%);

$white: #FFFFFF;
$black: #000000;

$red: #ff0000;
$dark-red: darken($red, 10%);


body{
  padding: 0;
}
h2{
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  margin-top: 50px;
  color: $blue;
}
.img-histoire{
  height: 55vh!important;
}
.text-right{
  font-family: 'Titillium Web', sans-serif;
}
.school{
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: url('../images/school.jpg');
  background-size: cover;
  background-position: center;
}
.line-story{
  padding:2px 0;
  background-color:$red;
  width: 16%;
  margin-left: 0;
  border-radius: 40%;
}
.line-program{
  padding:2px 0;
  background-color:$red;
  width: 18%;
  margin-right: 0;
}
.line-missions{
  padding:2px 0;
  background-color:$red;
  width: 13%;
  margin-left: 0;
}
.line-team{
  padding:2px 0;
  background-color:$red;
  width: 30%;
  margin-right: 0;
}
.story{
  margin-top: 50px;
  img{
    height: auto;
    width: 100%;
  }
  p{
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 26px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 30px;
    color: lighten($black, 55%);
  }
}
.col-marg{
  margin-bottom: 50px;
}




// Media queries
@media (max-width: 768px) {
  .text-right {
    text-align: center;
  }
  h2{
    text-align: center;
  }
  hr{
    display: none;
  }
}
