// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

$blue: #59a5d8;
$light-blue: lighten($blue, 5%);
$dark-blue: darken($blue, 15%);

$white: #FFFFFF;
$black: #000000;

$red: #ff0000;
$dark-red: darken($red, 10%);
$light-red: lighten($red, 25%);

#footer {
	margin-top: 10vh;
	font-family: 'Archivo Narrow', sans-serif;

	.lists {
		display: flex;
		justify-content: space-around;

		div {		
			margin-top: 20px;
		
			h3 {
				font-size: 21px;
			    font-family: 'Titillium Web', sans-serif;
			    color: lighten($red, 25%);
			}

			ul {
				margin-top: 10px;
				padding-left: 0px;
			}

			li {
				list-style-type: none;
			}

			a {
				text-decoration: none;
				font-size: 16px;

				&:hover {
					color: $blue;
				}
			}
		}

	}

	.social-media {
		margin: 25px 0;
		display: flex;
		justify-content: space-around;

		a {
			color: $black;
			text-decoration: none;
			
			&:nth-child(1) {
				color: $dark-blue;
			}

			&:nth-child(2) {
				color: $blue;
			}

			&:nth-child(3) {
				color: $light-red;
			}

			&:nth-child(4) {
				color: $dark-red;
			}
		}
	}

	p {
		font-size: 15px;
		margin-top: 20px;
		text-align: center;
	}
}