// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@import "navbar";

@import "footer";

$blue: #59a5d8;
$light-blue: lighten($blue, 5%);
$dark-blue: darken($blue, 15%);

$white: #FFFFFF;
$black: #000000;

$red: #ff0000;
$dark-red: darken($red, 10%);
$light-red: lighten($red, 25%);